@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 145 44% 92%;
    --foreground: 146 50% 15%;
    --card: 145 44% 96%;
    --card-foreground: 146 50% 15%;
    --popover: 145 44% 96%;
    --popover-foreground: 146 50% 15%;
    --primary: 146 50% 36%;
    --primary-foreground: 145 40% 98%;
    --secondary: 146 30% 80%;
    --secondary-foreground: 146 50% 15%;
    --muted: 146 30% 88%;
    --muted-foreground: 146 30% 40%;
    --accent: 147 46% 49%;
    --accent-foreground: 145 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 146 30% 80%;
    --input: 146 30% 84%;
    --ring: 146 50% 36%;
    --radius: 0.5rem;
    --chart-1: 146 50% 36%;
    --chart-2: 147 46% 49%;
    --chart-3: 146 40% 58%;
    --chart-4: 147 36% 68%;
    --chart-5: 146 30% 78%;
  }

  .dark {
    --background: 146 20% 8%;
    --foreground: 145 20% 92%;
    --card: 146 20% 12%;
    --card-foreground: 145 20% 92%;
    --popover: 146 20% 8%;
    --popover-foreground: 145 20% 92%;
    --primary: 146 50% 60%;
    --primary-foreground: 146 50% 15%;
    --secondary: 146 20% 20%;
    --secondary-foreground: 145 20% 92%;
    --muted: 146 20% 15%;
    --muted-foreground: 145 20% 65%;
    --accent: 147 46% 55%;
    --accent-foreground: 146 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 146 20% 20%;
    --input: 146 20% 20%;
    --ring: 146 50% 60%;
    --chart-1: 146 50% 60%;
    --chart-2: 147 46% 55%;
    --chart-3: 146 40% 45%;
    --chart-4: 147 36% 35%;
    --chart-5: 146 30% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
